src/META-INF/wsdl/localhost_8080/KalianDapet100Service/LoginWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.flashsale.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.flashsale.com/" name="LoginWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.flashsale.com/" schemaLocation="http://localhost:8080/KalianDapet100Service/LoginWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="updateStockPurchase">
<part name="parameters" element="tns:updateStockPurchase"/>
</message>
<message name="updateStockPurchaseResponse">
<part name="parameters" element="tns:updateStockPurchaseResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="registerDB">
<part name="parameters" element="tns:registerDB"/>
</message>
<message name="registerDBResponse">
<part name="parameters" element="tns:registerDBResponse"/>
</message>
<message name="cekRegister">
<part name="parameters" element="tns:cekRegister"/>
</message>
<message name="cekRegisterResponse">
<part name="parameters" element="tns:cekRegisterResponse"/>
</message>
<message name="cekLogin">
<part name="parameters" element="tns:cekLogin"/>
</message>
<message name="cekLoginResponse">
<part name="parameters" element="tns:cekLoginResponse"/>
</message>
<message name="purchaseTicket">
<part name="parameters" element="tns:purchaseTicket"/>
</message>
<message name="purchaseTicketResponse">
<part name="parameters" element="tns:purchaseTicketResponse"/>
</message>
<message name="viewListTicket">
<part name="parameters" element="tns:viewListTicket"/>
</message>
<message name="viewListTicketResponse">
<part name="parameters" element="tns:viewListTicketResponse"/>
</message>
<message name="addTicketDB">
<part name="parameters" element="tns:addTicketDB"/>
</message>
<message name="addTicketDBResponse">
<part name="parameters" element="tns:addTicketDBResponse"/>
</message>
<message name="searchTicket">
<part name="parameters" element="tns:searchTicket"/>
</message>
<message name="searchTicketResponse">
<part name="parameters" element="tns:searchTicketResponse"/>
</message>
<message name="cekStock">
<part name="parameters" element="tns:cekStock"/>
</message>
<message name="cekStockResponse">
<part name="parameters" element="tns:cekStockResponse"/>
</message>
<message name="countSubtotal">
<part name="parameters" element="tns:countSubtotal"/>
</message>
<message name="countSubtotalResponse">
<part name="parameters" element="tns:countSubtotalResponse"/>
</message>
<message name="getTicketByID">
<part name="parameters" element="tns:getTicketByID"/>
</message>
<message name="getTicketByIDResponse">
<part name="parameters" element="tns:getTicketByIDResponse"/>
</message>
<portType name="FlashsaleWebService">
<operation name="login">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="updateStockPurchase">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/updateStockPurchaseRequest" message="tns:updateStockPurchase"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/updateStockPurchaseResponse" message="tns:updateStockPurchaseResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="registerDB">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/registerDBRequest" message="tns:registerDB"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/registerDBResponse" message="tns:registerDBResponse"/>
</operation>
<operation name="cekRegister">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/cekRegisterRequest" message="tns:cekRegister"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/cekRegisterResponse" message="tns:cekRegisterResponse"/>
</operation>
<operation name="cekLogin">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/cekLoginRequest" message="tns:cekLogin"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/cekLoginResponse" message="tns:cekLoginResponse"/>
</operation>
<operation name="purchaseTicket">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/purchaseTicketRequest" message="tns:purchaseTicket"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/purchaseTicketResponse" message="tns:purchaseTicketResponse"/>
</operation>
<operation name="viewListTicket">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/viewListTicketRequest" message="tns:viewListTicket"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/viewListTicketResponse" message="tns:viewListTicketResponse"/>
</operation>
<operation name="addTicketDB">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/addTicketDBRequest" message="tns:addTicketDB"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/addTicketDBResponse" message="tns:addTicketDBResponse"/>
</operation>
<operation name="searchTicket">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/searchTicketRequest" message="tns:searchTicket"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/searchTicketResponse" message="tns:searchTicketResponse"/>
</operation>
<operation name="cekStock">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/cekStockRequest" message="tns:cekStock"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/cekStockResponse" message="tns:cekStockResponse"/>
</operation>
<operation name="countSubtotal">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/countSubtotalRequest" message="tns:countSubtotal"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/countSubtotalResponse" message="tns:countSubtotalResponse"/>
</operation>
<operation name="getTicketByID">
<input wsam:Action="http://services.flashsale.com/FlashsaleWebService/getTicketByIDRequest" message="tns:getTicketByID"/>
<output wsam:Action="http://services.flashsale.com/FlashsaleWebService/getTicketByIDResponse" message="tns:getTicketByIDResponse"/>
</operation>
</portType>
<binding name="FlashsaleWebServicePortBinding" type="tns:FlashsaleWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStockPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="purchaseTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewListTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addTicketDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cekStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countSubtotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTicketByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginWebService">
<port name="FlashsaleWebServicePort" binding="tns:FlashsaleWebServicePortBinding">
<soap:address location="http://localhost:8080/KalianDapet100Service/LoginWebService"/>
</port>
</service>
</definitions>